 apiVersion: extensions/v1beta1
 kind: Deployment
 metadata:
   name: welcome-service
   namespace: welcome-to-the-service
 spec:
   replicas: 2
   template:
     metadata:
       labels:
         app: web
     spec:
       containers:
         - name: master
           image: nginx
           ports:
             - containerPort: 80
         - name: welcome-service
           image: nickchase/rss-php-nginx:v1
           ports:
             - containerPort: 88