 apiVersion: extensions/v1beta1
 kind: Deployment
 metadata:
   name: welcome-service
 spec:
   replicas: 2
   template:
     metadata:
       labels:
         app: master
     spec:
       containers:
       - name: welcome-service
         image: eu.gcr.io/intrepid-kiln-187309/welcome-service:d06a829
         ports:
         - containerPort: 8082