 apiVersion: extensions/v1beta1
 kind: Deployment
 metadata:
   name: welcome-service
 spec:
   replicas: 2
   template:
     metadata:
       labels:
         app: web
     spec:
       containers:
         - name: master
           image: welcome-service
           ports:
             - containerPort: 80
         - name: welcome-service
           image: welcome-service/v1
           ports:
             - containerPort: 88